.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1ch;
  background-color: white;
  padding: 1rem;
  padding-bottom: 2rem;
  border-radius: 3px;
  width: 80%;
  max-width: 300px;
}
