/* APP */
.App {
  display: grid;
  grid-template-rows: auto max-content;
  padding: 1rem;
  height: 100vh;
}

/* FRONT PAGE */
.front-page {
  display: grid;
  grid-template-rows: 2fr 1fr 4fr;
}

.front-page h1 {
  align-self: center;
  font-size: 4rem;
}

.front-page .level-selector {
  /* align-self: start; */
}

/* GAME PAGE */
.game-page {
  display: grid;
  grid-template-rows: 3rem 1fr;
}

.game-page .top-bar {
  align-self: start;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.game-page .game-board {
  align-self: center;
}

.game-page .score-board {
  text-align: right;
}

.game-page .level-indication {
  font-size: 1.2rem;
}

.top-bar-left-corner {
  text-align: left;
}

.top-bar-left-corner h1 {
  font-size: 1.5rem;
}

/* INFO GAME PAGE */
.info-game-page {
  display: grid;
}

.info-game-page main {
  disaplay: grid;
  max-width: 600px;
  margin: 0 auto;
}

.info-game-page main > * + * {
  margin-top: 2rem;
}

.info-game-rule {
  font-weight: bold;
  font-size: 1.1rem;
}
